<app-hero
  [heroImage]="'assets/images/hero/hero-models.jpg'"
  [heading]="'Our Models'"
  [mainPage]="false"
></app-hero>

@if (loading) {
  <div class="skeleton-center">
    <div class="skeleton skeleton--light skeleton--box" style="margin: 1%;"></div>
    <div class="skeleton skeleton--light skeleton--box" style="margin: 1%;"></div>
    <div class="skeleton skeleton--light skeleton--box" style="margin: 1%;"></div>
  </div>
    
} @else if (error) {
    <p-banner
    [open]="errorBannerOpen"
    (dismiss)="errorBannerOpen = false"
    [heading]="'Error'"
    [headingTag]="'h3'"
    [description]="'Failed to load models.'"
    [state]="'error'"
    [dismissButton]="true"
  ></p-banner>
  <div class="heading-center">
    <p-heading>{{ error }}</p-heading>
    <p-button type="reset" style="flex: 1; margin: 2%;" (click)="reloadBaseModels()">Try again</p-button>
  </div>
} @else {
  <div class="heading-center">
    <p-heading>
      Discover Porsche's historic lineup.
    </p-heading>
  </div>
  <div class="content">
    <div class="content-tiles">
      @for (base of baseModels; track base) {
        <!-- J'aurais pu use link tile model signature, mais 2 p-link etaient required,
         et je n'ai pas besoin de 2 link -->
        <p-link-tile class="tile"
        label="Select model" 
        background="dark"
        [gradient]="false"
        size="large"
        aspectRatio="4/3"
        target="_blank"
        (click)="onBaseModelClick(base)">
          <p-tag slot="header" color="background-frosted" [compact]="false">
            @if (isValidModel(base.toLowerCase())) {
              <p-model-signature
                theme="dark"
                [safeZone]="false"
                [model]="getValidModelOrFallback(base)"
              ></p-model-signature>
            } @else {
              <p-text weight="bold" theme="dark" size="medium">{{ base }}</p-text>
            }
          </p-tag>
          <img [src]="getModelImage(base)" [alt]="base + ' image'" />
        </p-link-tile>
      }
    </div>
  </div>
}
