<app-hero
  [heroImage]="'assets/images/hero.png'"
  [heading]="'Timeless performance'"
></app-hero>

<main class="main">
  <div class="divider">
    <p-divider></p-divider>
  </div>
  <div class="content">
    <div class="content-tiles">
      <p-link-tile class="tile"
        [href]="'https://porsche.com'"
        [label]="'Discover'"
        [description]="'Our latest models'"
        [compact]="true"
      >
        <img src="assets/images/latest.png" alt="Some image description222" />
      </p-link-tile>
      <p-link-tile class="tile"
        [href]="'https://porsche.com'"
        [label]="'Discover'"
        [description]="'Our history'"
        [compact]="true"
      >
        <img src="assets/images/history.png" alt="Some image description222" />
      </p-link-tile>
      <p-link-tile class="tile"
        [href]="'https://porsche.com'"
        [label]="'Technology'"
        [description]="'Technology'"
        [compact]="true"
      >
        <img src="assets/images/tech.png" alt="Some image description222" />
      </p-link-tile>
    </div>
  </div>
</main>
