<app-hero
  [heroImage]="'assets/images/hero/hero.png'"
  [heading]="'Timeless performance'"
></app-hero>

<main class="main">
  <div class="content">
    <div class="content-tiles">
      <p-carousel
        heading="All Porsche. All in one place."
        headingSize="xx-large"
      >
        <div
          class="grid place-content-center h-[150px] bg-surface prose-text-sm"
        >
          <p-link-tile
            [href]="'https://www.porsche.com/france/models/911/'"
            [label]="'Discover'"
            [description]="'Our latest models'"
            [compact]="true"
          >
            <img src="assets/images/latest.png" alt="Latest Models" />
          </p-link-tile>
        </div>
        <div
          class="grid place-content-center h-[150px] bg-surface prose-text-sm"
        >
          <p-link-tile
            [href]="'https://www.porsche.com/international/aboutporsche/porschemuseum/'"
            [label]="'Discover'"
            [description]="'Our history'"
            [compact]="true"
          >
            <img src="assets/images/history.png" alt="Our history" />
          </p-link-tile>
        </div>
        <div
          class="grid place-content-center h-[150px] bg-surface prose-text-sm"
        >
          <p-link-tile
            [href]="'https://porsche.com'"
            [label]="'Go to Porsche Official Website'"
            [description]="'Go to Porsche Official Website'"
            [compact]="true"
          >
            <img src="assets/images/tech.png" alt="Porsche website" />
          </p-link-tile>
        </div>
      </p-carousel>
    </div>
  </div>
</main>
